<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<style>
    #images {
        text-align: center;
    }

    *:focus {
        outline: 0;
    }
</style>
<body style="background-color:CadetBlue ;">
<h1 style="text-align:center;">Payment systems for cards</h1>
<div id="images">
    <img src="{{url_for('static', filename='home.png')}}" usemap="#image-map" width="700px" height="500px" >
    <map name="image-map">
        <area href="mastercard" coords="65,30,230,150" shape="rect">
        <area href="visa" coords="270,30,650,150" shape="rect">
        <area href="discover" coords="65,200,230,310" shape="rect">
        <area href="paypal" coords="65,350,450,470" shape="rect">
        <area href="american_express" coords="270,200,650,310" shape="rect">
        <area href="maestro" coords="470,350,650,470" shape="rect">
    </map>
</div>
</body>
</html>