{% extends "base.html"%}
{% block title %}Products{% endblock %}
{% block navbar%}
<li class="nav-item">
    <a class="nav-link" href="products">ALL PRODUCTS</a>
</li>
{% endblock%}
{% block info%}
<body>

<h1 style="text-align:center;">{{product['name']}}</h1>
<div id="images">
    {% set picture = product['img_name'] %}
    <img src="{{url_for('product.static', filename=picture)}}" width="280px" height="150px">
</div>
<br>
<p>{{product['description']}}</p>
<p>price «₴»: {{product['price']}}</p>
<p>id product: {{product['id']}}</p>
</body>
{% endblock%}
